@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #FAFAFA;
    --pure-white: #FFFFFF;
    --red: #EA5454;
    --teal: #44D3D2;
    --yellow: #FCAE4A;
    --blue: #549EF2;
    --grey: #4D4F62;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--grey);
    background-color: var(--white);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 32px 78px 32px;
    flex-wrap: wrap;
}

/* Header text */
header {
    text-align: center;
    max-width: 540px;
    margin-bottom: 75px;
}

header > h1 {
    font-size: clamp(1.5rem, 1.1484rem + 1.5vw, 2.25rem);
    font-weight: 200;
    letter-spacing: .167px;
}

header > h2 {
    font-size: clamp(1.5rem, 1.1484rem + 1.5vw, 2.25rem);
    font-weight: 600;
    letter-spacing: .167px;
    margin-bottom: 16px;
}

header > p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: .104px;
    opacity: .5;
}

/* Card wrapper */
main > div {
    display: grid;
    gap: 25px;
}

/* Cards */
section {
    display: flex;
    flex-direction: column;
    max-width: 350px;

    padding: 28px;
    border-radius: 8px;
    background-color: var(--pure-white);
    box-shadow: 0px 15px 30px -11px #83a7d280;
}

section > h1 {
    font-size: 20px;
    font-weight: 600;
}

section > p {
    font-size: 13px;
    line-height: 23px;
    letter-spacing: .09px;
    opacity: .5;
    margin-bottom: 32px;
}

section > img {
    width: 57px;
    height: 57px;
    align-self: flex-end;
}

/* Card border */
section:nth-of-type(1) { /* Supervisor */
    border-top: 3.55px solid var(--teal);
}

section:nth-of-type(2) { /* Team Builder */
    border-top: 3.55px solid var(--red);
}

section:nth-of-type(3) { /* Karma */
    border-top: 3.55px solid var(--yellow);
}

section:nth-of-type(4) { /* Calculator */
    border-top: 3.55px solid var(--blue);
}


/* Footer */
.attribution { 
    position: absolute;
    top: 0;
    left: 0;
    color: var(--black); 
    text-align: center; 
    background-color: rgb(240, 240, 240);
    padding: 8px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    margin: 0;
}

.attribution p {
    font-size: 11px;
    margin: 0;
}


/* Medium screen size */
@media (min-width: 800px) {
    main > div {
        grid-auto-flow: column;
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    section:nth-of-type(1) { /* Supervisor */
        order: 1;
    }
    
    section:nth-of-type(2) { /* Team Builder */
        order: 3;
    }
    
    section:nth-of-type(3) { /* Karma */
        order: 2;
    }
    
    section:nth-of-type(4) { /* Calculator */
        order: 4;
    }

}

/* Large screen size */
@media (min-width: 1175px) {
    main {
        padding: 80px 32px;    
    }

    header h1, header h2 {
        letter-spacing: .25px;
    }

    header h2 {
        margin-bottom: 13px;
    }

    header {
        margin-bottom: 64px;
    }

    main > div {
        grid-auto-flow: column;
        grid-template: repeat(2, auto) / repeat(3, 350px);
        gap: 30px;
    }

    section {
        padding: 32px;
    }

    section > h1 {
        margin-bottom: 6px;
    }

    section > p {
        margin-bottom: 40px;
    }

    section > img {
        height: 64px;
        width: 64px;
    }

    section:nth-of-type(1) { /* Supervisor */
        grid-row: span 2;
        align-self: center;
    }
    
    section:nth-of-type(2) { /* Team Builder */
        grid-area: 1 / 2;
    }
    
    section:nth-of-type(3) { /* Karma */
        grid-area: 2 / 2;
    }
    
    section:nth-of-type(4) { /* Calculator */
        grid-row: span 2;
        align-self: center;
    }
}